<h1 align="center">template-{{ templatename }}</h1>

<div align="center">

{{ description }}

[![Lint](https://github.com/radio-aktywne/template-{{ templatename }}/actions/workflows/lint.yaml/badge.svg)](https://github.com/radio-aktywne/template-{{ templatename }}/actions/workflows/lint.yaml)
[![Test](https://github.com/radio-aktywne/template-{{ templatename }}/actions/workflows/test.yaml/badge.svg)](https://github.com/radio-aktywne/template-{{ templatename }}/actions/workflows/test.yaml)

</div>

---

## 💡 About

Treat this `README.md` as the landing page for people
that want to **use** your template.

Write here whatever you want to tell them.

## 📜 Usage

To create a new project from this template in the current directory,
make sure you have [`copier`](https://copier.readthedocs.io) installed and run:

```sh
copier gh:radio-aktywne/template-{{ templatename }} .
```

## 🚀 Features

- fully reproducible development environments with
  [`Dev Containers`](https://code.visualstudio.com/docs/remote/containers)
  and [`Nix`](https://nixos.org)
- automatic environment activation with [`direnv`](https://direnv.net)
- running tasks with [`Task`](https://taskfile.dev)
- formatting and linting with [`Trunk`](https://trunk.io)
- continuous integration with [`GitHub Actions`](https://github.com/features/actions)

## 💻 Contributing and Development

Read more about how to contribute and develop the project
[here](https://github.com/radio-aktywne/template-{{ templatename }}/blob/main/CONTRIBUTING.md).
